<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.jxnu.awesome_campus" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".InitApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".support.provider.SuggestionProvider"
            android:authorities="cn.edu.jxnu.awesome_campus.support.provider.SuggestionProvider" />

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.base.SearchActivity" />
        </activity>
        <activity
            android:name=".ui.library.BookSearchActivity"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ui.home.CampusNewsDetailsActivity" />
        <activity android:name=".ui.leisure.DailyDetailsActivity" />
        <activity android:name=".ui.leisure.ScienceDetailsActivity" />
        <activity android:name=".ui.leisure.FilmDetailsActivity" />
        <activity
            android:name=".ui.home.CourseDetailsDialog"
            android:theme="@style/DialogTheme" />
        <activity android:name=".ui.education.ScoreDetailsDialog"
            android:theme="@style/DialogTheme">
        </activity>
    </application>

</manifest>
