<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.jxnu.awesome_campus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".InitApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".support.provider.SuggestionProvider"
            android:authorities="cn.edu.jxnu.awesome_campus.support.provider.SuggestionProvider" />

        <activity android:name=".MainActivity"
            android:launchMode="standard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.library.BookSearchActivity" />
        </activity>
        <activity
            android:name=".ui.library.BookSearchActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ui.home.CampusNewsDetailsActivity" />
        <activity android:name=".ui.leisure.DailyDetailsActivity" />
        <activity android:name=".ui.leisure.ScienceDetailsActivity" />
        <activity android:name=".ui.leisure.FilmDetailsActivity" />
        <activity
            android:name=".ui.home.CourseDetailsDialog"
            android:theme="@style/BlueDialogTheme" />
        <activity
            android:name=".ui.education.ScoreDetailsDialog"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".ui.library.BookBorrowedDialog"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".ui.library.SearchResultDialog"
            android:theme="@style/DialogTheme" />
        <activity android:name=".ui.life.CampusExpressDetailsActivity" />

        <receiver
            android:name=".ui.widget.CourseTable4x2Privider"
            android:label="课程表4x2">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/course_table4x2" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ui.widget.CourseTable4x2Service"
            android:process=":service" />

        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.about.AboutActivity" />
        <activity android:name=".ui.about.AppIntroActivity" />
        <activity android:name=".ui.library.BookSearchDetailsActivity" />
        <activity android:name=".ui.about.NotifyActivity" />
        <activity android:name=".ui.about.LicenseActivity" />
        <activity android:name=".AppGuideActivity" />
        <activity android:name=".ui.about.NotifyListActivity" />

        <service
            android:name=".support.service.NotifyService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".support.boardcast.NotifyClickReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>
